DirectoryIndex index.asis

RewriteEngine on
RewriteBase /tests/http-cookie-auth/test01/ltgt.net

RewriteCond %{HTTP_COOKIE} !AUTHORIZED\s*=
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* unauthorized.asis

